*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php

advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
wp-cache-config.php

# couture-collective beta and alpha deployment ignores
beta/
alpha/
configs/

# environment settings
env_prod
password
