
/********** @ANIMATIONS *********/

.animation(@name: animation, @duration: 2s, @easing: ease, @delay: 0s, @iteration: 1){	
	animation: @name @duration @easing @delay @iteration;
	-ms-animation: @name @duration @easing @delay @iteration;
	-webkit-animation: @name @duration @easing @delay @iteration;
	-0-animation:move @name @duration @easing @delay @iteration;
	-moz-animation:move @name @duration @easing @delay @iteration;
	animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;	
}


@media (min-width: 992px) {


	
	#background{
		//.animation(color-drift, 15s, linear, 0s, infinite);	
	}
	
	.home #background{
		.animation(image-drift, 15s, linear, 0s, infinite);
	}		

}


@-webkit-keyframes image-drift{
  0% {
		-webkit-filter: blur(0px) brightness(.5) saturate(2);
	}
  50% {
		-webkit-filter: blur(6px) brightness(1) saturate(1);		
  }
  100% {
		-webkit-filter: blur(0px) brightness(.5) saturate(2);	  	
  }	
	  
}

@-webkit-keyframes color-drift{
  0% {
		background: #e6d8d5;
	}
  50% {
		background: darken(#e6d8d5,15%);		
  }
  100% {
		background: #e6d8d5;
  }	
	  
}



